<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Rapport</title>
  <style>
{% include "style.css" %}
  </style>
</head>

<body>
{% for method in uncovered %}
  <div class="card">
  {% include "uncovered_fr.html.j2" %}
  </div>
{% endfor %}
{% for h in hints %}
  <div class="card">
  {% set mutation, hint, diff = h.mutation, h.hint, h.diff %}
  {% include "hint_fr.html.j2" %}
  </div>
{% endfor %}
</body>

</html>
