<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Report</title>
  <style>
{% include "style.css" %}
  </style>
</head>

<body>
{% for h in hints %}
  {% set mutation, hint, diff = h.mutation, h.hint, h.diff %}
  {% include "hint_en.html.j2" %}
  {% if not loop.last %}
  <hr>
  {% endif %}
{% endfor %}
</body>

</html>
