  <h2><code>{{ method|uncovered_link }}</code></h2>
  <p class="uncovered issue">
    La méthode <code>{{ method|uncovered_link }}</code> n'est exécutée par
    aucun test.
  </p>
  <p class="suggestion">
    Vous pourriez écrire un nouveau test qui cible cette méthode.
  </p>
