  <h2>{{ method|uncovered_link }}</h2>
  <p class="issue">
    La méthode {{ method|uncovered_link }} n'est exécutée par aucun test.
  </p>
  <p class="suggestion">
    Vous pourriez écrire un nouveau test qui cible cette méthode.
  </p>
